.grid-item {
  flex-basis: auto;

  &--shrink {
    flex-shrink: 1;
    flex-grow: 0;
  }

  &--grow {
    flex-grow: 1;
    flex-shrink: 0;
  }

  &--center {
    justify-content: center;
    align-items: center;
  }
}
