.grid {
  display: flex;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--position-center {
    align-items: center;
    justify-content: center;
  }

  &--position-end {
    align-items: flex-end;
    justify-content: flex-end;
  }

  &--wrap {
    flex-wrap: wrap;
  }
}
